In [2]:
student_dict = {"student": ["Angela", "James", "Lily"],
                "score": [56, 64, 67]
                }

In [3]:
import pandas as pd

In [4]:
df= pd.DataFrame(student_dict)

In [5]:
df

  student  score
0  Angela     56
1   James     64
2    Lily     67

In [21]:
[row.student for (index,row) in df.iterrows()]

['Angela', 'James', 'Lily']